.sidenav-container {
    height: 100%;

    .sidenav {
        width: 200px;
    }

    .sidenav .mat-toolbar {
        background: inherit;
        padding: 0;

        .logo {
            padding: 0 16px;
        }
    }

    .mat-toolbar.mat-primary {
        position: sticky;
        top: 0;
        z-index: 100;

        .toolbar-title {
            font-size: var(--fs-xl);
        }

        .github-link {
            height: 44px;
            margin-left: auto;
        }
    }
}
