.features {
    list-style: disc;
    margin: 1.3rem 3rem;

    .feature-item {
        margin-bottom: 1rem;

        .docs-link {
            display: inline-flex;
            align-items: center;
            gap: 4px;
        }

        .italic {
            font-style: italic;
        }
    }
}
